.menu
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 5em 8em
    gap: 4em
    width: 100vw
    height: 29em
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #253469

    .menu__top
        display: flex
        flex-direction: row
        align-items: flex-start
        padding: 0px
        height: 2.7em

        .menu__logo
            width: 6.5em
            height: 2.5em

    .menu__main-content
        display: flex
        flex-direction: row
        align-items: flex-start
        padding: 0em
        gap: 7.5em
        width: 67.5em
        height: 12em

        .menu__column
            display: flex
            flex-direction: column
            align-items: flex-start
            padding: 0em
            gap: 1em
            width: 17.5vw
            height: 12em

            .menu__link
                font-family: Montserrat
                font-size: 1em
                font-weight: 400
                line-height: 1.6em
                letter-spacing: 0em
                text-align: left
                color: white
                text-decoration: none
                


            .menu__text
                font-family: Montserrat
                font-size: 1em
                font-weight: 400
                line-height: 1.6em
                letter-spacing: 0em
                text-align: left
                color: white
