.footer

    width: 100vw
    height: 5em
    background: #253469
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1em 8em 1em 8em


    .footer-left

        height: 3em
        display: flex
        flex-direction: column
        align-items: flex-start

        p
  
            font-family: 'Open Sans'
            font-style: normal
            font-weight: 400
            font-size: 0.8em
            line-height: 1.5em
            color: #FFFFFF

    .footer-right

        display: flex
        flex-direction: row
        align-items: center
        padding: 0em
        gap: 1.2em
        width: 20em
        height: 3.6em

        p

            font-family: 'Open Sans'
            font-style: normal
            font-weight: 400
            font-size: 0.8em
            line-height: 1.2em
            color: #FFFFFF
